body {
  background-color: rgb(0, 183, 255);
}

.timer {
  display: flex;
  width: 300px;
  background-color: rgba(0, 0, 255, 0.623);
  justify-content: center;
  margin: 20px auto;
  height: 100px;
  align-items: center;
  font-size: 100px;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.label {
  font-size: 30px;
}

button {
  background-color: rgba(0, 0, 255, 0.63);
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: opacity 0.15s;
}

button:hover {
  opacity: 0.8;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
}

.header {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  height: 60px;
  background-color: rgba(0, 0, 255, 0.63);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
  margin-bottom: 100px;
}

.header h2 {
  text-decoration: underline;
}

.right-section {
  display: flex;
  min-width: 60px;
  max-width: 120px;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.main-container {
  display: flex;
  max-width: 799px;
  align-items: center;
  height: 700px;
  justify-content: space-between;
  margin: auto;
}

.settings {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.settings button {
  margin: 10px auto;
  width: 60%;
}

input {
  height: 30px;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 0 5px;
}

.input-name {
  font-weight: 300;
  margin-bottom: -5px;
  margin-top: 5px;
  font-size: 20px;
}

.main-page {
  max-width: 500px;
  padding: 2rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 720px) {
  .main-container {
    flex-direction: column;
    height: 1000px;
  }
}